# frontend
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
config.json

# backend
*.env
*.pyc
*/venv/*
*/__pycache__/*
*/__pycache__/*
backend/webapp/__pycache__/*
backend/shared_achievements.db
# macOS
.DS_Store



